<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>




<div class="container">
    <div class="row">
        <div class="col-md-12">
          
            <button class="btn btn-primary" [routerLink]="['/']" style="float: right;" >Logout </button>
                   
           
                   {{value}}
          
            <div class="table-responsive">
                    <button class="btn btn-primary" (click)="addUser()">Add </button>
                <table id="mytable" class="table table-bordered table-striped" >
                    <thead class="thead-light">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody *ngFor="let a of data">
                      
                        <tr>

                            <td [innerHTML]='a.firstname'></td>
                            <td [innerHTML]='a.lastname'></td>
                            <td [innerHTML]='a.department'></td>
                            <td [innerHTML]='a.address'></td>
                            <td [innerHTML]='a.email'></td>
                            <td [innerHTML]='a.contact'></td>
                         
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="editUser(a._id)" >
                                        <span class="glyphicon glyphicon-pencil"></span>

                                    </button>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteUser(a._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
               


